:root{

    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark--gray: hsl(0, 0%, 59%);

    --ff: 'Kumbh Sans', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
/* || GENERAL STYLING */

body {
  display: flex;
  font-family: var(--ff);
  color: var(--Very-dark-desaturated-blue);
  align-items: center;
  min-height: 100vh;
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-color: var(--Dark-cyan);
  background-repeat: no-repeat, no-repeat;
  background-position: right 48vw bottom 40vh,  left 45vw top 44vh; 
}

.container {
  margin: 0 auto;
  text-align: center;
}

.card {
  max-width: 420px;
  border-radius: 1.5rem;
  background-color: #FFF;
  margin: 1rem;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:5px solid #FFF;
  margin-top: -52px;
  margin-bottom: 20px;
}

.content h2, .footer p.stat {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  font-weight: 700;
}

.content h2 {
  margin-bottom: 10px;
}

.content h2 span, p {
  color: var(--Dark-grayish-blue);
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid hsla(227, 10%, 46%, 0.2);
  padding: 2rem 4rem;
  margin-top: 2.5rem;
}