@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


/* || RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

/* || VARIABLES */
:root {
    /* || COLORS */

    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    /* || FONTS */
    --FF: 'Outfit', sans-serif;
    --FS: 15px;
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

/* || GENERAL */

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Light-gray);
    line-height: 1.5;
    text-align: center;
    font-family: var(--FF);
}

h1, h2 {
    font-size: clamp(1rem, 10vw, 2rem);
    font-weight: 700;
}

p {
    color: var(--Grayish-blue);
    font-size: var(--FS);
    margin-top: 15px;
}

.container {
    margin: 0 auto;
    max-width: 365px;
}

.card {
    display: grid;
    gap: 2rem;
    padding: 1.5rem;
    background-color: var(--White);
    border-radius: 20px;
    margin: 0 2em;
}

.footer p {
    padding: 1rem;
    margin-bottom: 1rem;
}