@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat&display=swap');

/* || RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


input,
button,
textarea {
    font: inherit;
}

/* || VARIABLES */
:root {
    /* ||FONTS */
    --FF-HEADING: 'Fraunces', serif;
    --FF: 'Montserrat', sans-serif;
    --FS: clamp(2.5rem, 3vh, 3.5rem);

    /* ||COLORS */
    --PRICE-COLOR: hsl(158, 36%, 37%);
    --BG-COLOR: hsl(30, 38%, 92%);
    --TEXT-COLOR: hsl(212, 21%, 14%);
    --PARAGRAPH-COLOR: hsl(228, 12%, 48%);
    --BUTTON-TEXT-COLOR: hsl(0, 0%, 100%);

}



/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* || GENERAL STYLES */

html {
    background-color: var(--BG-COLOR);
    scroll-behavior: smooth;
    font-family: var(--FF);
}

p {
    line-height: 1.5;
    color: var(--PARAGRAPH-COLOR);
    text-align: left;
    line-height: 1.5em;
    font-size: 14px;
}


body {
    /* min-height: 50vh; */
    max-width: 600px;
    /* width: 90%; */
    margin: 10% auto;
    background-color: var(--BUTTON-TEXT-COLOR);
    border-radius: 10px;
}


.main {
    display: flex;  
    gap: 10px;
}

.hero {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    margin-bottom: 0;
    
}

.section-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
}


.section-bottom__p1 {
    letter-spacing: 5px;
}

.section-bottom__h1 {
    font-family: var(--FF-HEADING);
    font-size:var(--FS);
    font-weight: 700;
}

.div-price {

    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.price {
    font-family: var(--FF-HEADING);
    font-size:var(--FS);
    font-weight: 700;
    color: var(--PRICE-COLOR);
}

.discount {
    color: var(--PARAGRAPH-COLOR);
    font-size: 14px;
    text-decoration: line-through;
    align-self: center;
}

.btn {
    border-radius: 10px;
    padding: 1em;
    background-color: var(--PRICE-COLOR);
    color: var(--BUTTON-TEXT-COLOR);
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    border: none;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: var(--TEXT-COLOR);
}


@media screen and (min-width: 376px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .desktop {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* || TOP SECTION */
    
    .hero {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
    }

    .section-bottom {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 15px;
    }
}
