@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


/* || RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* || VARIABLES */

:root {
    /* ||COLORS */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-mainBG: hsl(217, 54%, 11%);
    --Very-dark-blue-cardBG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    /* || FONTS */
    --FF: 'Outfit', sans-serif;
    --FS: 18px;
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.display-flex {
    display: flex;
    align-items: center;
}

/* || GENERAL */

body {
    background-color: var(--Very-dark-blue-mainBG);
    min-height: 100vh;
    font-family: var(--FF);
    line-height: 1.5;
    font-size: var(--FS);
}

.container {
    margin: 0 auto;
    max-width: 450px;
}

.card {
    background-color: var(--Very-dark-blue-cardBG);
    padding: 3rem;
    border-radius: 20px; 
    margin: 5rem 2rem;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
}

.img-top {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    
}

.img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(178, 100%, 50%, 0.5);
    display: none;
    cursor: pointer;
}

.img-overlay img {
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%)
}

.img-top:hover .img-overlay {
    display: block;
}

h1 {
    font-size: clamp(1rem, 10vw, 2rem);
    font-weight: 600;
    color: var(--White);
    margin-top: 20px;
}

p {
    color: var(--Soft-blue);
    font-size: var(--FS);
}

.text p {
    margin-top: 15px;
}

.eth {
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.eth__p {
    gap: 7px;
}

.eth p:first-child {
    color: var(--Cyan);
}

.author {
    border-top:  1px solid var(--Very-dark-blue-line);
    padding-top: 20px;
    gap: 1rem;
}

.author img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid var(--White);
}

.author p .name {
    color: var(--White);
}

a {
    text-decoration: none;
    color: var(--White);
}

a:hover, a:active, a:focus, .author p a.name:hover {
    color: var(--Cyan);
}